.social {
    svg {
        fill: #adb3bc;
        transition: all 0.25s ease-in-out;

        &:hover {
            fill: #f0f4f8;
        }
    }
}

.nav {
    ul {
        li {
            margin: 12px 0;

            a {
                position: relative;
                margin: 4px 0;
                padding: 6px 6px 6px 12px;
                border-radius: 8px;
                letter-spacing: .1em;

                &::after {
                    position: absolute;
                    content: "";
                    width: 2px;
                    height: 50%;
                    border-radius: 4px;
                    left: 6px;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background-color: #aeef9d;
                    opacity: 0;
                    transition: all .35s ease-in-out;
                }

                &.active {
                    background-color: #25323f;
                    color: #f0f4f8;
                    ;

                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.items_list {
    li {
        margin: 16px 0;
    }

    .item_card {
        padding: 16px;
        border-radius: 8px;
        transition: all 0.25s ease-in-out;
        // cursor: pointer;

        &:hover {
            background-color: #25323f;

            .project_title {
                color: #aeef9d;
            }
        }

        img {
            width: 150px;
            height: auto;
        }

        .project_title {
            transition: all 0.25s ease-in-out;
        }
    }
}